officialAutomation/SalesTeam/C3Activity.json
{
  "name": "C3Activity",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ============================================================\n// ESCALATION EMAIL BUILDER — Workflow 3, Node 4\n// ============================================================\n\nconst data = $json;\nconst emp = data.employee || {};\n\n// ---- HARD VALIDATION (prevents Bad Request) ----\nif (!emp.email) {\n  throw new Error(\"Employee email missing\");\n}\n\nif (!data.hodEmail) {\n  throw new Error(\"HOD email missing\");\n}\n\nconst allDeals = data.details || data.deals || [];\nconst max = data.maxDealsPerMsg || 8;\n\nconst senderName = data.senderName || 'Averlon System';\nconst dealListUrl = data.dealListUrl || '#';\nconst totalDeals = data.totalDeals || allDeals.length;\n\nconst shownDeals = allDeals.slice(0, max);\nconst remainingCount = allDeals.length - shownDeals.length;\n\nfunction escapeHtml(str = '') {\n  return String(str).replace(/[&<>\"']/g, s => ({\n    '&': '&amp;', '<': '&lt;', '>': '&gt;',\n    '\"': '&quot;', \"'\": '&#39;'\n  }[s]));\n}\n\nfunction dealRowHtml(deal, index) {\n  const days = deal.daysLeft;\n\n  let statusColor = '#0F6E56';\n  let statusText  = '';\n\n  if (days < 0) {\n    statusColor = '#E24B4A';\n    statusText  = `⚠ Overdue by ${Math.abs(days)} day(s)`;\n  } else if (days === 0) {\n    statusColor = '#BA7517';\n    statusText  = '🔴 Due Today';\n  } else {\n    statusText = `Due in ${days} day(s)`;\n  }\n\n  return `\n  <tr style=\"border-bottom: 1px solid #e8e8e8;\">\n    <td style=\"padding: 12px 8px; font-size: 14px; color: #2c2c2a; font-weight: 500;\">\n      ${index + 1}. ${escapeHtml(deal.title || 'Deal')}\n    </td>\n    <td style=\"padding: 12px 8px; font-size: 13px; color: #5f5e5a;\">\n      ${escapeHtml(deal.renewalDateFormatted || 'No date')}\n    </td>\n    <td style=\"padding: 12px 8px; font-size: 12px; color: ${statusColor}; font-weight: 600;\">\n      ${statusText}\n    </td>\n    <td style=\"padding: 12px 8px;\">\n      <a href=\"${deal.url || '#'}\"\n         style=\"background: #A32D2D; color: white; font-size: 12px; padding: 5px 12px; border-radius: 6px; text-decoration: none;\">\n        View →\n      </a>\n    </td>\n  </tr>`;\n}\n\nconst dealRowsHtml = shownDeals.map((d, i) => dealRowHtml(d, i)).join('');\n\nconst remainingHtml = remainingCount > 0 ? `\n  <div style=\"margin: 16px 0; padding: 12px 16px; background: #FCEBEB; border-radius: 8px; font-size: 14px; color: #A32D2D;\">\n    And <strong>${remainingCount} more deal(s)</strong> still pending.\n    <a href=\"${dealListUrl}\" style=\"color: #A32D2D; font-weight: 600;\">View all →</a>\n  </div>` : '';\n\n// ---- EMPLOYEE EMAIL HTML ----\nconst empEmailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n  <div style=\"max-width:620px;margin:32px auto;background:white;border-radius:12px;overflow:hidden;border:1px solid #d3d1c7;\">\n    <div style=\"background:#A32D2D;padding:28px 32px;\">\n      <div style=\"font-size:11px;color:#F7C1C1;font-weight:600;letter-spacing:1px;text-transform:uppercase;margin-bottom:6px;\">${senderName}</div>\n      <h1 style=\"margin:0;color:white;font-size:22px;font-weight:600;\">⚠ Final Escalation Alert</h1>\n      <div style=\"color:#F7C1C1;font-size:13px;margin-top:6px;\">6:30 PM · ${data.runDate || ''}</div>\n    </div>\n    <div style=\"padding:24px 32px 0;\">\n      <p style=\"font-size:15px;color:#2c2c2a;margin:0 0 8px;\">Hi <strong>${escapeHtml(emp.name || 'User')}</strong>,</p>\n      <p style=\"font-size:14px;color:#5f5e5a;margin:0 0 8px;\">This is your <strong>final escalation</strong> for today. You still have <strong>${totalDeals} unresolved deal(s)</strong>. Your HOD has been notified.</p>\n      <p style=\"font-size:14px;color:#A32D2D;font-weight:500;margin:0 0 20px;\">Please update these deals immediately.</p>\n    </div>\n    <div style=\"padding:0 32px;\">\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <thead>\n          <tr style=\"background:#f1efe8;\">\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Deal Name</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Due Date</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Status</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Action</th>\n          </tr>\n        </thead>\n        <tbody>${dealRowsHtml}</tbody>\n      </table>\n    </div>\n    ${remainingHtml}\n    <div style=\"padding:24px 32px;border-top:1px solid #e8e8e8;margin-top:16px;\">\n      <p style=\"font-size:12px;color:#888780;margin:0;\">Automated alert from ${senderName}. Do not reply.</p>\n    </div>\n  </div>\n</body></html>`;\n\n// ---- HOD EMAIL HTML ----\nconst hodEmailHtml = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"></head>\n<body style=\"margin:0;padding:0;background:#f4f4f0;font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',sans-serif;\">\n  <div style=\"max-width:620px;margin:32px auto;background:white;border-radius:12px;overflow:hidden;border:1px solid #d3d1c7;\">\n    <div style=\"background:#633806;padding:28px 32px;\">\n      <div style=\"font-size:11px;color:#FAC775;font-weight:600;letter-spacing:1px;text-transform:uppercase;margin-bottom:6px;\">${senderName}</div>\n      <h1 style=\"margin:0;color:white;font-size:22px;font-weight:600;\">HOD Escalation CC</h1>\n      <div style=\"color:#FAC775;font-size:13px;margin-top:6px;\">6:30 PM escalation · ${data.runDate || ''}</div>\n    </div>\n    <div style=\"padding:24px 32px 0;\">\n      <p style=\"font-size:15px;color:#2c2c2a;margin:0 0 8px;\">Hi <strong>${escapeHtml(data.hodName || 'Manager')}</strong>,</p>\n      <p style=\"font-size:14px;color:#5f5e5a;margin:0 0 20px;\">Your team member <strong>${escapeHtml(emp.name || 'User')}</strong> (${escapeHtml(emp.email)}) has <strong>${totalDeals} unresolved deal(s)</strong> as of 6:30 PM today. They have been notified separately.</p>\n    </div>\n    <div style=\"padding:0 32px;\">\n      <table style=\"width:100%;border-collapse:collapse;\">\n        <thead>\n          <tr style=\"background:#f1efe8;\">\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Deal Name</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Due Date</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Status</th>\n            <th style=\"padding:10px 8px;text-align:left;font-size:12px;color:#888780;font-weight:600;\">Action</th>\n          </tr>\n        </thead>\n        <tbody>${dealRowsHtml}</tbody>\n      </table>\n    </div>\n    ${remainingHtml}\n    <div style=\"padding:24px 32px;border-top:1px solid #e8e8e8;margin-top:16px;\">\n      <p style=\"font-size:12px;color:#888780;margin:0;\">Automated alert from ${senderName}. Do not reply.</p>\n    </div>\n  </div>\n</body></html>`;\n\n// ---- PRE-SERIALIZE BOTH EMAIL BODIES (fixes quote-escaping issue) ----\nconst empEmailBody = JSON.stringify({\n  message: {\n    subject: `[ESCALATION] ${totalDeals} Unresolved Deals — Action Required`,\n    body: {\n      contentType: \"HTML\",\n      content: empEmailHtml\n    },\n    toRecipients: [\n      {\n        emailAddress: {\n          address: emp.email,\n          name: emp.name || ''\n        }\n      }\n    ]\n  },\n  saveToSentItems: true\n});\n\nconst hodEmailBody = JSON.stringify({\n  message: {\n    subject: `[HOD ALERT] ${emp.name || 'User'} has ${totalDeals} overdue deal(s) — 6:30 PM Escalation`,\n    body: {\n      contentType: \"HTML\",\n      content: hodEmailHtml\n    },\n    toRecipients: [\n      {\n        emailAddress: {\n          address: data.hodEmail,\n          name: data.hodName || 'Manager'\n        }\n      }\n    ]\n  },\n  saveToSentItems: true\n});\n\nreturn [{\n  json: {\n    ...data,\n    escalation: {\n      empEmailBody,\n      hodEmailBody,\n      empEmail: emp.email,\n      empName: emp.name,\n      hodEmail: data.hodEmail,\n      hodName: data.hodName\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "af5e8d48-f0f4-4567-9bfd-db98a334c3c1",
      "name": "Function — Build Escalation Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "577b9124-e585-41eb-a56d-24a6a33abee8",
              "leftValue": "={{ $json.totalDeals }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        240
      ],
      "id": "af5ce126-8e36-474d-b717-51761f96640a",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://login.microsoftonline.com/f284e063-bc3b-44ac-b38c-418c4012e4e8/oauth2/v2.0/token",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "client_credentials"
            },
            {
              "name": "client_id",
              "value": "e5c42145-d918-4fb3-989d-bcc2093e5a42"
            },
            {
              "name": "client_secret",
              "value": "0xm8Q~WQHXtDZBy2Aitz6U.7Hgm9BRkst2MJOdhr"
            },
            {
              "name": "scope",
              "value": "https://graph.microsoft.com/.default"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        256
      ],
      "id": "43286eb7-20a4-40c3-b6cf-55a5f80b55d6",
      "name": "Fetch Outlook Token"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ac4dafd6-2d06-47a7-ab1d-09ace87c7844",
              "leftValue": "=={{ $json.statusCode }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        816,
        64
      ],
      "id": "7ccd9884-0ac0-4ad0-97f1-5cab6989ef70",
      "name": "If1"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        144
      ],
      "id": "bbc0c6c4-4584-4273-8987-a0b90c5be7e2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/users/info@averlonworld.com/sendMail",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.token_type }} {{ $json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.escalation.empEmailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        272
      ],
      "id": "7e1df810-8044-4b27-a183-c8ef524fd5ea",
      "name": "Send Employee Email"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        0
      ],
      "id": "e7ec971a-60ce-4f2c-9f11-67a9eb737b15",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Function — Build Escalation Email": {
      "main": [
        [
          {
            "node": "Fetch Outlook Token",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Function — Build Escalation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Outlook Token": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Employee Email": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send Employee Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "fe43018b-80ea-4de4-a0fd-ae91868e380c",
  "meta": {
    "instanceId": "f8721a2f491e95c5e6129a6e36c27a6ad54a391f13843e10874c1c64d7cca928"
  },
  "id": "Jb4rmXLiDAfkxaz2",
  "tags": []
}